<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>movie</title>
        <link rel="stylesheet" href="./index.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css"
        />
        <link
            rel="icon"
            href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.png"
        />
        <!-- Ionicons JS -->
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- header start -->
            <header>
                <!-- normal -->
                <div class="section_container header_container">
                    <a class="logo form_logo">
                        <img src="./images/icons/Component 1.png" alt="logo" />
                    </a>
                    <a class="mobil_left_icon">
                        <img src="./images/icons/chevron-left.svg" />
                    </a>

                    <nav class="header--nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Discover</a></li>
                            <li><a href="#">Movie Release</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </nav>

                    <div class="notif">
                        <div class="search_icon">
                            <img
                                class="search_icon"
                                src="./images/icons/search_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg"
                                alt="search"
                            />
                            <div class="search_input">
                                <input type="text" />
                            </div>
                        </div>

                        <div class="message_box">
                            <img src="./images/icons/bell.svg" />
                        </div>

                        <div class="profil">
                            <img src="images/icons/Image.svg" alt="profil image" />
                            <img src="images/icons/Arrow - Down 2.svg" alt="profil more icon" />
                        </div>
                        <nav class="burger">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Discover</a></li>
                                <li><a href="#">Movie Release</a></li>
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- header end -->

            <!-- main start -->
            <main>
                <!-- section 1 start -->
                <section>
                    <div class="section_container form_discussion_container">
                        <button class="transparent_button form_disc_button">Back</button>
                        <!-- discussions -->
                        <div class="discussion_container">
                            <!-- current items -->
                            <div class="discussion_item">
                                <!-- arrows -->
                                <div class="arrow_container">
                                    <ion-icon
                                        name="arrow-up-circle"
                                        class="arrow-up-circle"
                                    ></ion-icon>
                                    <span class="discussion_count">22</span>
                                    <ion-icon
                                        class="arrow-down-circle"
                                        name="arrow-down-circle"
                                    ></ion-icon>
                                </div>

                                <!-- texts and image -->
                                <div class="discussion--text_container">
                                    <!-- discussions text -->
                                    <div class="discussion--text">
                                        <h3>
                                            Do you agree the Spiderman 3 is the worst movie? Why?
                                        </h3>
                                        <p>
                                            Ahmad Movi lives with his newfound family formed on the
                                            planet of Pandora. Once a familiar threat returns to
                                            finish. Jake must work with Neytiri and the army of the
                                            Na'vi race to protect their planet. ...
                                        </p>

                                        <!-- discussion reyting  container-->
                                        <div class="discussion__reyting">
                                            <div class="tag_and_tiem">
                                                <span class="text-green">@GaranAlbino</span>
                                                <span class="text-gray">3 Hours ago</span>
                                            </div>
                                            <div class="like_and_comment">
                                                <div>
                                                    <img
                                                    src="images/icons/heartheart_discussion.svg"
                                                    alt= />
                                                    <span>65</span>
                                                </div>
                                                <div>
                                                    <img src="images/icons/chatcomment.svg" />
                                                    <span>10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- discussions image -->
                                    <div class="discussion--img">
                                        <img
                                            src="images/form_page_images/moveis/Imageçlavekpaul.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="discussion_container ml-xl">
                            <div class="comment_count">20 Comments</div>
                            <!--  item 1 -->
                            <div class="discussion_item">
                                <!-- arrows -->
                                <div class="arrow_container arrow_container_2">
                                    <ion-icon
                                        name="arrow-up-circle"
                                        class="arrow-up-circle arrow-up-white"
                                    ></ion-icon>
                                    <span class="discussion_count">22</span>
                                    <ion-icon
                                        class="arrow-down-circle arrow-down-white"
                                        name="arrow-down-circle"
                                    ></ion-icon>
                                </div>

                                <!-- texts and image -->
                                <!-- discussions text -->
                                <div class="discussion--text">
                                    <p class="text-white">
                                        Ahmad Movi lives with his newfound family formed on the
                                        planet of Pandora. Once a familiar threat returns to finish.
                                        Jake must work with Neytiri and the army of the Na'vi race
                                        to protect their planet. ...
                                    </p>

                                    <!-- discussion reyting  container-->
                                    <div class="discussion__reyting">
                                        <div class="tag_and_tiem">
                                            <span class="text-green">@GaranAlbino</span>
                                            <span class="text-gray">3 Hours ago</span>
                                        </div>
                                        <div class="like_and_comment">
                                            <div>
                                                <img src="images/icons/heartheart_discussion.svg"
                                                alt= />
                                                <span>65</span>
                                            </div>
                                            <div class="reply"><li>Reply</li></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--  item 2 -->
                            <!--  item 1 -->
                            <div class="discussion_item">
                                <!-- arrows -->
                                <div class="arrow_container arrow_container_2">
                                    <ion-icon
                                        name="arrow-up-circle"
                                        class="arrow-up-circle arrow-up-white"
                                    ></ion-icon>
                                    <span class="discussion_count">22</span>
                                    <ion-icon
                                        class="arrow-down-circle arrow-down-white"
                                        name="arrow-down-circle"
                                    ></ion-icon>
                                </div>

                                <!-- texts and image -->
                                <!-- discussions text -->
                                <div class="discussion--text">
                                    <p class="text-white">
                                        Ahmad Movi lives with his newfound family formed on the
                                        planet of Pandora. Once a familiar threat returns to finish.
                                        Jake must work with Neytiri and the army of the Na'vi race
                                        to protect their planet. ...
                                    </p>

                                    <!-- discussion reyting  container-->
                                    <div class="discussion__reyting">
                                        <div class="tag_and_tiem">
                                            <span class="text-green">@GaranAlbino</span>
                                            <span class="text-gray">3 Hours ago</span>
                                        </div>
                                        <div class="like_and_comment">
                                            <div>
                                                <img src="images/icons/heartheart_discussion.svg"
                                                alt= />
                                                <span>65</span>
                                            </div>
                                            <div class="reply"><li>Reply</li></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--  item 3 -->
                            <div class="discussion_item">
                                <!-- arrows -->
                                <div class="arrow_container arrow_container_2">
                                    <ion-icon
                                        name="arrow-up-circle"
                                        class="arrow-up-circle arrow-up-white"
                                    ></ion-icon>
                                    <span class="discussion_count">0</span>
                                    <ion-icon
                                        class="arrow-down-circle arrow-down-white"
                                        name="arrow-down-circle"
                                    ></ion-icon>
                                </div>

                                <!-- discussions text -->
                                <div class="discussion--text">
                                    <p class="text-white">Love it</p>

                                    <!-- discussion reyting  container-->
                                    <div class="discussion__reyting">
                                        <div class="tag_and_tiem">
                                            <span class="text-green">@GaranAlbino</span>
                                            <span class="text-gray">3 Hours ago</span>
                                        </div>
                                        <div class="like_and_comment">
                                            <div>
                                                <img src="images/icons/heartheart_discussion.svg"
                                                alt= />
                                                <span>33</span>
                                            </div>
                                            <div class="reply"><li>Reply</li></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--  item 4 -->
                            <div class="discussion_item">
                                <!-- arrows -->
                                <div class="arrow_container arrow_container_2">
                                    <ion-icon
                                        name="arrow-up-circle"
                                        class="arrow-up-circle arrow-up-white"
                                    ></ion-icon>
                                    <span class="discussion_count">23</span>
                                    <ion-icon
                                        class="arrow-down-circle arrow-down-white"
                                        name="arrow-down-circle"
                                    ></ion-icon>
                                </div>

                                <!-- discussions text -->
                                <div class="discussion--text">
                                    <p class="text-white">Really like the moviet</p>

                                    <!-- discussion reyting  container-->
                                    <div class="discussion__reyting">
                                        <div class="tag_and_tiem">
                                            <span class="text-green">@GaranAlbino</span>
                                            <span class="text-gray">3 Hours ago</span>
                                        </div>
                                        <div class="like_and_comment">
                                            <div>
                                                <img src="images/icons/heartheart_discussion.svg"
                                                alt= />
                                                <span>73</span>
                                            </div>
                                            <div class="reply"><li>Reply</li></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex_center">
                                <button class="tranparent_green_btn cursor-pointer">Show more</button>
                            </div>
                            <form>
                                <div class="new_post_container">
                                    <img src="images/icons/Image.svg" alt="profil image" />

                                    <div class="input_container">
                                        <input type="text" placeholder="Add Discussion title" />
                                        <ion-icon class="video_icon" name="videocam"></ion-icon>
                                    </div>
                                    <button
                                        class="play_button rounded-base flex_center text_white padding_xl"
                                    >
                                        Post
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <!-- section 1 end -->
            </main>
            <!-- main end -->

            <!-- footer start -->
            <footer>
                <div class="section_container footer_container">
                    <div>
                        <h4>
                            Our platform is trusted by millions & features best updated movies all
                            around the world.
                        </h4>
                        <div class="footer_nav_container">
                            <nav>
                                <!-- after iledə etmek olardı bu yolu seçdim -->
                                <a href="">Home</a>
                                <span>/</span>
                                <a href="">Discover</a>
                                <span>/</span>
                                <a href="">Influence</a>
                                <span>/</span>
                                <a href="">Release</a>
                            </nav>
                            <div class="social_container">
                                <img src="images/social/icons8-instagram-30.png" />
                                <img src="images/social/icons8-facebook-30.png" />
                                <img src="images/social/icons8-twitter-squared-50.png" />
                                <img src="images/social/Google.svg" />
                            </div>
                        </div>
                    </div>

                    <div class="end">
                        <div>
                            <span>Privacy policy</span>
                            <span>Term of service</span>
                            <span>Language</span>
                        </div>
                        <div class="date">© 2023</div>
                    </div>
                </div>
            </footer>
            <!-- footer end -->
        </div>

        <!-- script -->
        <script src="./app.js"></script>
    </body>
</html>
